---
layout: default
---

<section class="intro">
  {{ content }}
</section>

<section class="post-list-section">
  <h2 class="section-heading">Posts</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-list__item">
      <a class="post-list__link" href="{{ post.url | relative_url }}">
        <time class="post-list__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <span class="post-list__title">{{ post.title | escape }}</span>
      </a>
      {%- if post.description -%}
      <p class="post-list__excerpt">{{ post.description | strip_html | truncate: 180 }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</section>
